.filter {
  border: none;
  outline: none;
  background-color: var(--section-bg);
  border-radius: 3px;
  box-shadow: 0px 0px 2px var(--box-shadow-color);
  font-family: var(--font);
  font-size: 0.8rem;
  color: var(--primary);
}

select:hover {
  cursor: pointer;
}

input[type="date"] {
  width: 1px;
  height: 1px;
  visibility: hidden;
  position: absolute;
}

.date-input-display {
  padding: 0.2em;
  text-decoration: underline;
}

.date-input-display:hover {
  color: var(--accent);
  cursor: pointer;
}

.date-period-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.date-period-select {
  background-color: inherit;
  border: inherit;
  font: inherit;
  outline: inherit;
  color: inherit;
  border-right: 1px solid;
}
