.app {
  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 1200px) {
  .app {
    min-width: 50vw;
    max-width: 50vw;
    padding: 0rem 25vw;
  }
}

@media only screen and (max-width: 1199px) {
  .app {
    min-width: 95vw;
    max-width: 95vw;
    padding: 0rem 2.5vw;
  }
  .app::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .app {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.app {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.app::-webkit-scrollbar {
  display: none;
}
