.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.4rem;
  padding-top: 2rem;
}

.filters-container {
  display: flex;
  gap: 1rem;
}

.nav-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}

.icon {
  cursor: pointer;
}
